Please sign in.

%form(method="post" action="/sessions")
	Email:
	%input(type="text" name='email')
	Password:
	%input(type="password" name='password')
	%input(type="submit" value="Sign in")

%p
  Forgotten your password? Enter your email here to get a temporary one:
  %form(action="users/password_reset" method="post")
    %input(name="email" type="text" value="email")
    %input(value="Submit" type="submit")
