Please sign in.

%form#sign-in(method="post" action="/sessions")
  Email:
  %input(type="text" name='email')
  Password:
  %input(type="password" name='password')
  %input(type="submit" value="Sign in")

Forgotten your password? Enter your email here to get a temporary one:
%form#recover-password(action="/users/reset_token" method="post")
  %input(name="email" type="text")
  %input(value="Submit" type="submit")
