%p
  Forgotten your password? Enter your email here to get a temporary one:
  %form(action="users/password_reset" method="post")
    %input(name="email" type="text" value="email")
    %input(value="Submit" type="submit")