.container
  .content-container 
    - if current_user
      #new-link
        %form(action="/links/new" method="post")
          %li
            %input(type="text" name="url" placeholder="Url")
          %li
            %input(type="text" name="title" placeholder="Title")
          %li
            %input(type="text" name="description" placeholder="Description")
          %li
            %input(type="text" name="tags" placeholder="Tags")
          %li
            %button(type="submit" value="Add link" class="nav")
              Add link
    - else
      #add_links_message
        %p
          Please sign in to add links
