!!!
%html
  %head
    %title
      Bookmark manager
    %link(rel="stylesheet" type="text/css" href="../../public/css/application.css")
    %link(rel="stylesheet" type="text/css" href="../../public/css/reset.css")
    %script(src="jquery-2.0.3.js")
    %script(src="jquery-bookmark.js")

  %body
    %header
      %ul#header
        %li#logo
          %a(href="/")
            %h1
              Bookmark Manager

        - if current_user
          %li
            %form(method="post" action="/sessions" id="sign_out_form")
              %input(type="hidden" name="_method" value="delete")
              %button.nav(type="submit" value="Sign out")
                Sign out
                
          %li
            #add_link
              %a.nav(href="/links/new")
                Add link
          %li
            #profile
              %a.nav(href="/users/profile")
                Profile
          / %li
          /   %form(method="post" action="/sessions" id="sign_out_form")
          /     %input(type="hidden" name="_method" value="delete")
          /     %button.nav(type="submit" value="Sign out")
          /       Sign out

        - else
          %li
            #sign_up
              %a.nav(href="/users/new")
                Sign up
          %li
            #sign_in
              %a.nav(href="/sessions/new")
                Sign in

    / = partial :welcome_message
    = partial :flash
    = yield

    %footer
      %table
        %tr
          %td
            #makersacademy-logo
              %a(href="http://www.makersacademy.com")
              %img(src="http://www.makersacademy.com/assets/logo.png")
          
          %td
            #technologies
              %p
                I built this page at 
                %a(href="http://www.makersacademy.com")
                Makers Academy,
                a highly selective 12 week coding course in London
      
              %p
                This website is built using Ruby, Sinatra, 
                RSpec, Capybara, HTML and CSS.