!!!
%html
  %head
    %title
      Bookmark manager
    %link(rel="stylesheet" type="text/css" href="/css/application.css")
    %script(src="jquery-2.0.3.js")
    %script(src="jquery-bookmark.js")

  %body
    / = partial :welcome_message
    = partial :flash
    = yield