!!!
%html
  %head
    %title
      Bookmark manager
    %link(rel="stylesheet" type="text/css" href="/css/application.css")

  %body
    - if flash[:notice]
      #notice
        = flash[:notice]

    - if current_user
      Welcome,
      = current_user.email
      %form(method="post" action="/sessions")
        %input(type="hidden" name="_method" value="delete")
        %input(type="submit" value="Sign out")

    - if flash[:errors] && !flash[:errors].empty?
      Sorry, there were the following errors with this form:
      %ul#errors
        - flash[:errors].each do |error| 
          %li= error
          
    = yield